* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #04283C;
    font-family: 'Roboto', sans-serif;
}

.app-box {
    width: 550px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    color: #04283C;
}

.location-box {
    background: linear-gradient(navy, rgb(247, 247, 247));
    color: white;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
